<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
<div class="testbox">
      <form action="/location" method="GET">
        <div class="banner">
          <h1>International Space Station (ISS) Tracker</h1>
        </div>
        <div class="item" id="formGroupExampleInput">
          <p>Date<span class="required">*</span></p>
          <div class="name-item">
            <input type="date" name="Date" placeholder="Enter Date" required/>
          </div>
        </div>
        <div class="item" id="formGroupExampleInput2">
          <p>Time<span class="required">*</span></p>
          <div class="name-item">
            <input type="time" name="Time" placeholder="Enter Time" required/>
          </div>
        </div>
        <div class="btn-block">
          <button type="submit" href="/">Submit</button>
        </div>
      </form>
    </div>
</body>
</html>